---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Aside from "../layouts/Aside.astro";
import Experience from "../layouts/Experience.astro";
import Projects from "../layouts/Projects.astro";
import About from "../layouts/About.astro";
---

<Layout
  title="Mario Mass - Programador profesional"
  description="Porfolio de programador profesional"
>
  <main
    class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 md:px-12 px-5 max-w-[1600px] mx-auto relative"
  >
    <Aside />

    <SectionContainer class="gap-y-28 mx-auto pb-20">
      <Header />

      <h1
        class="text-3xl md:text-6xl font-extrabold text-black dark:text-white/90 text-balance"
      >
        <span class="text-heading">+3 a침os</span> de experiencia transformando ideas
        en sitios web, dise침ando interfaces intuitivas y desarrollando soluciones
        eficientes
      </h1>

      <Experience />
      <Projects />
      <About />
    </SectionContainer>

    <footer class="absolute bottom-0 w-full py-2">
      <h4 class="dark:text-white text-center">
        Mario Mass - <span id="year"></span>
      </h4>
    </footer>
    
  </main>
</Layout>

<script>
  // Este c칩digo se ejecutar치 directamente en el navegador
  document.addEventListener("DOMContentLoaded", () => {
    const yearElement = document.getElementById("year");
    if (yearElement) {
      yearElement.innerText = new Date().getFullYear().toString();
    }
  });
</script>

<style>
  .arg {
    background-image: linear-gradient(#2394e5 15%, white 66%, #2394e5 15%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
  }

  .logros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "dev dev dev cv"
      "jun jun jun cv"
      "jun jun jun cv";
    background-color: #2394e5;
  }
</style>
