---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Aside from "../layouts/Aside.astro";
import Experience from "../layouts/Experience.astro";
import Projects from "../layouts/Projects.astro";
---

<Layout title="Welcome to Astro." description="Welcome to Astro.">
  <main
    class="grid grid-cols-1 gap-y-16 xl:grid-cols-2 md:px-12 px-8 max-w-[1600px] mx-auto relative"
  >
    <Aside />

    <SectionContainer class="gap-y-20 mx-auto">
      <Header />

      <h1 class="text-6xl font-extrabold text-black text-balance">
        <span class="text-[#E65A45]">+3 años</span> de experiencia transformando ideas en sitios web y desarrollando interfaces intuitivas
      </h1>

      <Experience />
      <Projects />
    </SectionContainer>

  </main>
</Layout>

<style>
  /* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */

  /* 
    #9B736D
	#62706A
	#59F0AB
	#6DB091
	#E65A45
	*/

  /* 
negro claro #242424
negro #0d0d0d
*/

  .arg {
    background-image: linear-gradient(#2394e5 15%, white 66%, #2394e5 15%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
  }

  .logros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "dev dev dev cv"
    "jun jun jun cv"
    "jun jun jun cv";
    background-color: #2394e5;
  }

  /* h1{
    font-size: clamp(1.55rem, 3rem, 4rem);
  } */
</style>
