---
import ExperienceItem from "./ExperienceItem.astro"
import {JOBS} from "./data/jobs.js";
import {EDUCATIVE} from "./data/educative.js";

const {class:className} = Astro.props;
---



<div class={`mb-6 flex flex-col gap-y-7 ${className}`}>
  <h2 class="text-2xl lg:text-4xl font-medium">Laboral</h2>
    {
     JOBS.map((job) => (
          <ExperienceItem {...job} />

      ))
    }
   
    <h2 class="text-2xl lg:text-4xl font-medium mt-10">Educativa</h2>
    {
     EDUCATIVE.map((education) => (
          <ExperienceItem {...education} />

      ))
    }
</div>