---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`${className} w-full mx-auto lg:max-w-[1000px] pb-56 flex flex-col items-center`}
>
  <slot />
</section>
