---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Header /> -->
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
  }
  body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-color: #0d0d0d;
    background-color: #f8f6fe;
    font-family: "Inter", sans-serif;
  }
</style>
