---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Header /> -->
    <slot />
  </body>
</html>
<style is:global>

  /* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Seymour+One&display=swap"); */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
  }
body {
  /* position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; */
  /* background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
  radial-gradient(
    91% 146%,
    rgba(255, 255, 255, 0.5) 47%,
    rgba(0, 0, 0, 0.5) 100%
    );
    background-blend-mode: screen; */
    /* min-height: 100dvh; */
    /* font-family: "Plus Jakarta Sans", sans-serif; */
    background-color: #fbfbfb;
    font-family: 'Inter', sans-serif;
  }
</style>
