---
import SectionContainer from "../components/SectionContainer.astro";
import ProjectsList from "../components/ProjectsList.astro";
---

<SectionContainer id="proyectos" class="">
    <h1 class="text-4xl lg:text-5xl font-extrabold mb-10 text-subHeading">
      Proyectos
    </h1>
    <ProjectsList />
</SectionContainer>